@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

@media (min-width: 576px) {}

@media (min-width: 992px) {}
/* BODY-COLOR */
body{
    background-color:#2c2525 !important;
}
/* Fixing navbar to top */
.link-container{
    position: sticky !important;
    top: 0;
z-index: 1;
}
/* Button-tyles */
.nav-link{
    color:#FFA500!important;
    background-color: transparent;
    border-radius: 5px;
    border-color:#FFD700;
    font-family: cursive;
    font-size: 1rem;
    width: 120px;
    height: 40px;
    margin: 5px;
}
/* styles when mouse hovers button */
.nav-link:hover{
    cursor: pointer;
    background-color: #FFD700;
    color: #000 !important;
    transform: scale(1.2);
    
}
/* Logoname styles */
.logo-name{
    color:#FFD700;
    font-family: Bree serif;
    font-size:1rem;
    font-weight: bolder;
    letter-spacing: 4px ;

}
/* specifying vedio hight and width */
.vedio{
width: 100vw;
height: 75vh;
}
/* fixing image hiage height and width */
.card-img{
    width:100px;
    height:200px;
}
/* styling the card inside menu-item */
.card{
    background-color:#FFA500!important;
    padding: 0px;

}
/* styling item name */
.card-title{
    color: #000 !important;
    font-family: Roboto!important;
    font-size: 30px !important;
    font-weight: 500;
}
/* styling item price */
.card-subtile{
    color: #000000 !important;
   font-family: 'Trebucet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-weight: 500;
   font-size: 2em ;

}
.card-text{
    color: #000000 !important;
   font-family: Bree serif;
      font-weight: 500;
   font-size: 12pxm ;

}
/* styling card when mouse hovers the card */
.card:hover{
    background-color: #000000!important;
    color:#f5f5f5;
    transform: scale(1.1);
    box-shadow: 10px 10px 10px #000000;
    .card-title{
        color: #FFA500!important;
    }
    .card-subtile{
        color: #FFD700!important;
    }
    .card-text{
        color: #FFA500;
    }
}
